asgiref==3.11.1
Django==6.0.4
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
psycopg2-binary==2.9.12
PyJWT==2.12.1
sqlparse==0.5.5
gunicorn==26.0.0
python-dotenv==1.2.2
google-api-core==2.31.0
google-api-python-client==2.197.0
google-auth==2.55.0
google-auth-httplib2==0.4.0
google-auth-oauthlib==1.4.0
googleapis-common-protos==1.75.0
proto-plus==1.28.0
protobuf==7.35.1
uritemplate==4.2.0